/* Above the Fold */
.topnav {
    text-decoration: none;
    float: right;
    margin-top: 40px;
    font-family: sans-serif;
}

.topnav a {
    text-decoration: none;
    color: #494949;
    font-size: 11.12;
    padding-right: 51px;
    padding-left: 51px
    
}

#getintouch {
    padding-right: 102px;
}

a:hover {
    text-decoration: underline;
    color: whitesmoke;
  }
  

#portfolio {
    display: inline-block;
    margin-top: 40px;
    margin-left: 145px;
    font-family: Futura;
    font-size: 2em;
    
}

        .heroImage {
            background-image: url(../Images/portfoliobackground.png);
            background-size: cover;
            height: 100%;
            
        }

        body, html {
            height: 100%;
        }
        
        .bg {
            /* The image used */
            background-image: url(../Images/rectangle);
        
            /* Full height */
            height: 100%;
        
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

body {
    margin: 0;
    padding: 0;
}

#herotextbox {
    display:flex;
    text-align:center;
    justify-content: center;
}

#heroText1 {
    font-family: Futura;
    font-size: 1.8em;
    color: white;
    justify-content: center;
    text-align: center;
    left: 700px;
    top: 290px;

}

#heroText2 {
    font: 17em "futura", sans-serif;
    color: whitesmoke;
    letter-spacing: 153px;
    justify-content: center;
    text-align: center;
    box-sizing:border-box;
    border: red;
}

.html body {
    height: 100%;
}

/**************************** About Me *****************************/

.profile {
    width: 45%;
    border-radius: 300px;
    margin-top: 45px;
    margin-left: 300px;
    
}

.AboutMe {
    background-color: #FFFEF8;
    height: 902px;
}

#wrapper {
    display: flex;
    margin-top: 300px;
    padding-right: 300px;
    justify-content: space-between;
}

#wrapper p {
    justify-content: space-between;
    padding: 25px;
    font-size: 1.8em;
    font-family: futura;
    color: #696969;
}

/**************************** What I do *****************************/


#description {
    height: 905px;
}

#description {
    background-image: url(../Images/Rectangle64.png);
    background-size: cover;
    height: 100%;
}

.boxed {
    display: grid;
    width: 1213px;
    height: 637px;
    background-color: #FFFFFF;
    align-items: center;
    grid-template-columns: 50% 50%;
    
}

.descriptors {
    align-items: center;
    justify-content: center;
    font-family: futura;
    color: #696969;
    font-size: 1.8em;
    margin: 46px;
}

.boxed h4 {
    color: #696969;
    font-family: futura;
}

/**************************** MY WORK *****************************/

#footer {
    background-color:#FFFEF8;
    height: 860px;
    font-size: 1.8em;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerdirection {
    font-family: futura;
    flex-direction: row;
    color: #696969;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.footerdirection h3 {
    text-align: center;
    margin-bottom: 100px;
    font-size: 2.9em;
}

.footerdirection p {
    text-align: center;
}

.small {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.small small {
    justify-content: space-around;
    padding-top: 40px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 120px;
    font-family:sans-serif;
}

.lines {
    display: flex;
}

.lines hr {
    margin-top: 20px;
}


