/* Above the Fold */
.topnav {
    text-decoration: none;
    float: right;
    margin-top: 40px;
    font-family: sans-serif;
}

.topnav a {
    text-decoration: none;
    color: #494949;
    font-size: 11.12;
    padding-right: 51px;
    padding-left: 51px
    
}

#getintouch {
    padding-right: 102px;
}

a:hover {
    text-decoration: underline;
    color: whitesmoke;
  }
  

#portfolio {
    display: inline-block;
    margin-top: 40px;
    margin-left: 145px;
    font-family: Futura;
    font-size: 2em;
    
}

        .heroImage {
            background-image: url(../Images/portfoliobackground.png);
            background-size: cover;
            height: 100%;
            
        }

        body, html {
            height: 100%;
        }
        
        .bg {
            /* The image used */
            background-image: url(../Images/portfoliobackground.png);
        
            /* Full height */
            height: 100%;
        
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

body {
    margin: 0;
    padding: 0;
}

#herotextbox {
    display:flex;
    text-align:center;
    justify-content: center;
}

#heroText1 {
    font-family: Futura;
    font-size: 1.8em;
    color: white;
    justify-content: center;
    text-align: center;
    left: 700px;
    top: 290px;

}

#heroText2 {
    font: 17em "futura", sans-serif;
    color: whitesmoke;
    letter-spacing: 153px;
    justify-content: center;
    text-align: center;
    box-sizing:border-box;
    border: red;
}

.html body {
    height: 100%;
}

/**************************** About Me *****************************/

.profile {
    width: 45%;
    border-radius: 300px;
    margin-top: 45px;
    margin-left: 300px;
    
}

.AboutMe {
    background-color: #FFFEF8;
    height: 902px;
}

#wrapper {
    display: flex;
    margin-top: 300px;
    padding-right: 300px;
    justify-content: space-between;
}

#wrapper p {
    justify-content: space-between;
    padding: 25px;
    font-size: 1.8em;
    font-family: futura;
    color: #696969;
}

/**************************** What I do *****************************/


#description {
    height: 905px;
}

body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url(../Images/rectangle64.png);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 2000px;
}

#description h4 {
    margin-top: 0;
}